.btn-gryffindor {
  background-color: #740001;
  color: #f3c339 !important;
}
.btn-slytherin {
  background-color: #1a472a;
  color: #c4c4c4 !important;
}
.btn-hufflepuff {
  background-color: #ffd803;
  color: #663838 !important;
}
.btn-ravenclaw {
  background-color: #0e1a40;
  color: #c19249 !important;
}

.btn {
  border-radius: 0;
}
